$text_color:blue;
.task {
    text-align: center;
    width: 200px;
    height: 80px;
    background-color: gainsboro;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    margin: 10px;
    padding-top: 1em;
    float: left;
}

.nombre-tarea {
    font-size: 2em;
}